body {
    background-image: linear-gradient(to right, #166DB4, #7B3A9C); 
    color: white;
    text-align: center;
    font-family: "museo-sans", "Museo Sans", "Helvetica Neue", "Arial", sans-serif; 
}

.logo {
    width: 400px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.box {
    background: rgb(255,255,255,0.1);
    width: 300px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px; 
}

.greeting {
    padding-top: 40px;
    font-size: 22px;
    font-weight: bold;
}

.sign-in-box {
    background: rgb(255,255,255,0.07); 
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 40px;
    border-radius: 5px; 
}

.sign-in {
    padding-top: 10px; 
    font-size: 15px;
}

.link1 {
    font-size: 13px;
    padding-top: 5px; 
}

.link2 {
    font-size: 13px;
    padding-top: 10px;
}

.link3 {
    font-size: 13px;
}

.footer {
    font-size: 13px;
}